{% extends 'data_base.html' %}

{% block head %}

{% endblock %}

{% block body %}
        <button type="button" onclick="myFunction()">Refresh !</button>

        <p id="demo">Nhan de cap nhat.</p>
        <script>
            function myFunction(){
                window.location.reload();
                document.getElementById("demo").innerHTML="Da Refresh- Tiep tuc F5"
            }
        </script>
        <br>
        <center>
        <table style="width: 80%;">
            <tr>
                <th>Thời gian</th>
                <th>Ngày</th>
                <th>Biển số</th>
                <th>Tình trạng</th>
                <th>Mã thẻ</th>
            </tr>
            {%for i in range(0, len_n)%}
            <tr>
                <th>{{time[i]}}</th>
                <th>{{day[i]}}</th>
                <th>{{bienso[i]}}</th>
                <th>{{status[i]}}</th>
                <th>{{Id[i]}}</th>
            </tr>
            {%endfor%}
        </table>    
        </center>
        
{% endblock %}