{% extends 'index_base.html' %}

{% block head %}
<title>Danh sach hien tai</title>
{% endblock %}

{% block body %}
        <center>
            <h1>
                THONG KE BIEN SO
            </h1>
        </center>
        <img src="/static/images/logo.png">
        <p> 
            <!-- in dam text-->
            <b>Pham Ngoc Cuong</b><br>
            <!-- Nghieng text-->
            <i>School: Bach Khoa Da Nang</i><br>
            <!-- Nghieng text co cach dieu font-->
            <em>De tai: Tracking bien so</em>
        </p>
        <br>
        <!-- Func cho button reset-->
        <button type="button" onclick="myFunction()">Refresh !</button>

        <!-- <p id="demo">Nhan de cap nhat.</p> -->
        <script>
            function myFunction(){
                window.location.reload();
                document.getElementById("demo").innerHTML="Da Refresh- Tiep tuc F5"
            }
        </script>

        <!-- Func cho button chuyen trang data-->
        <form method ="post" action="">
            <input type="submit" name="submit_button" value="Data">
        </form> 

        <br>
        <table style="width: 70%;">
            <tr>
                <th>Thời gian</th>
                <th>Ngày</th>
                <th>Biển Số</th>
                <th>Mã thẻ</th>
            </tr>
            {%for i in range(0, len_n)%}
            <tr>
                <th>{{time[i]}}</th>
                <th>{{day[i]}}</th>
                <th>{{bienso[i]}}</th>
                <th>{{Id[i]}}</th>
            </tr>
            {%endfor%}
        </table>
{% endblock %}