{% extends 'index_base.html' %}

{% block head %}
<title>Danh sach hien tai</title>
{% endblock %}

{% block body %}
        <!-- Func cho button reset-->
        <button type="button" onclick="myFunction()">Refresh !</button>
        <p id="demo">Nhan de cap nhat.</p>
        <!-- <p id="demo">Nhan de cap nhat.</p> -->
        <script>
            function myFunction(){
                window.location.reload();
                document.getElementById("demo").innerHTML="Da Refresh- Tiep tuc F5"
            }
        </script>
        <center>
            <br>
            <table style="width: 70%;">
            <tr>
                <th>Thời gian</th>
                <th>Ngày</th>
                <th>Biển Số</th>
                <th>Mã thẻ</th>
            </tr>
            {%for i in range(0, len_n)%}
            <tr>
                <th>{{time[i]}}</th>
                <th>{{day[i]}}</th>
                <th>{{bienso[i]}}</th>
                <th>{{Id[i]}}</th>
            </tr>
            {%endfor%}
        </table>
        </center>
        
{% endblock %}