{% extends 'login_base.html' %}

{% block head %}
<title>Do an</title>
{% endblock %}

{% block body %}

<form autocomplete="off" class="form"></form>
  <div class="control">
    <center>
      <h1>Sign Up</h1>
    </center>
  </div>

  <form class="container" action="" method="post">
    <center>
      <div class="input">
        <input class"text" name="username" placeholder="Username" type="text" value="{{
          request.form.username }}">
      </div>
    </center>

    <center>
      <div class="input">
        <input class"text" name="password" placeholder="Password" type="password" value="{{
          request.form.password }}">
      </div>
    </center>

    <center>
      <button class="button" type="submit">Login</button>
    </center>
  </form>
  {% if error %}
  <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}
</form>
{% endblock %}  